

<div style="width: 100%;  ;  padding-block:30px; color:black">
<header style="padding-inline:10%;" >

<img style="width:100px" src="/assets/images/DALL·E%202023-02-24%2022.38.17%20-%20draw%20me%20a%20sticky%20man%20but%20nurse%20.%20small%20icon%20logo(2).png">
  <div style="display: inline; vertical-align: middle">
      <h1 style="display: inline; vertical-align: middle">Pielęgniarka Online</h1>
<div style="text-align: right; display:none;">
  <h2>
    <span class="quote">,,</span>
    pielęgniarka tkwi pośrodku, pomiędzy chirurgiczną sztuką łatania fizycznego ubytku a lękiem i żalem pacjenta, czyli ubytkiem symbolicznym. Pielęgniarstwo jest – lub powinno być – bezkrytycznym aktem troski, współczucia i empatii.
    <span class="quote">''</span>
  </h2>
</div>
  </div>
</header>
</div>
<div>

</div>
<header style="padding-inline:10%">
<nav class="main_nav" style="width:100%;  height:40px;margin-block:30px">
    <li  style=" font-size:1.1em; list-style-type: none;" id="menu_nav">
      <span  *ngFor="let all of categories" >
         <ul id="cat_{{all.name}}" [routerLink]="['browse', all.name, 1]" (mouseenter)='moveTab($event)' (mouseout)="moveTabOut($event)" >{{all.name}}</ul>
      </span>
    </li>
  <div style="
              padding-left:{{movableWidth}}px;
               transition: padding-left 0.5s ease-in-out;
                                                          ">
                               <div class="lego" style="
                                  background:{{legoColor}};
                                  height:10px;
                                  border-radius: 3px;
                                  transition: width 1s ease-in-out, background 1s ease-in-out;
                                  width:{{legoWidth}}px;"></div>
  </div>


  </nav>
  <router-outlet></router-outlet>
</header>


<style>
  ul{
    min-width:150px;
    text-decoration: none;
    padding:0;
    padding-right: 50px;
    display:inline;
    cursor: pointer;
  }
</style>
