@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
html, head, body{
  margin:0;
  padding:0;
}
body * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

